@use "../abstracts/tokens" as *;
@use "../utilities/text" as *;

body {
  font-family: $font-family-base;
  @include text(md, md);
}

h1 {
   @extend .text-4xl;
}

h2 {
  @extend .text-3xl;
  color: #f00;
}

h3 {
  @extend .text-2xl;
}

h4 {
  @extend .text-xl;
}

h5 {
  @extend .text-lg;
}

h6 {
  @extend .text-md;
}

[class^="text-"] {
  font-weight: 700;
}


p {
  @include text(sm, sm, sm);
}
