@use "sass:map";
@use "functions" as *;

/* layout */
$container-max-width: 1200px;
$container-padding: 1rem;

/* breakpoints */
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px
);

/* colors */
$white: #fff;
$black: #000;
$grey: #ccc;

/* tipography */
$font-family-base: "Lato", sans-serif;
$font-size: (
  xs:  fluid(12px, 14px),
  sm:  fluid(14px, 16px),
  md:  fluid(16px, 20px),
  lg:  fluid(18px, 24px),
  xl:  fluid(24px, 36px),
  2xl: fluid(32px, 48px),
  3xl: fluid(40px, 72px),
  4xl: fluid(48px, 96px)
);
$line-heights: (
  xs:  (min: 1.25, max: 1.35),
  sm:  (min: 1.35, max: 1.45),
  md:  (min: 1.5, max: 1.6),
  lg:  (min: 1.45, max: 1.55),
  xl:  (min: 1.2, max: 1.3),
  2xl: (min: 1.15, max: 1.2),
  3xl: (min: 1.05, max: 1.15),
  4xl: (min: 1, max: 1.1)
);

/* spaces */
$spaces: (
  xs: fluid(4px, 6px),
  sm: fluid(8px, 12px),
  md: fluid(12px, 16px),
  lg: fluid(16px, 24px),
  xl: fluid(24px, 40px),
  2xl: fluid(40px, 64px),
  3xl: fluid(64px, 104px),
  4xl: fluid(104px, 160px)
);
