@use "../abstracts/tokens" as *;
@use "../abstracts/mixins" as *;

#loader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    .load {
        width: 10px;
        height: 10px;
        position: relative;
        background: $black;
        border-radius: 50%;
        -webkit-animation: load 20s infinite;
        animation: load 20s infinite;
        opacity: 1;
    }

    .load:before,
    .load:after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $black;
        position: absolute;
        -webkit-animation: load .4s alternate infinite;
        animation: load .4s alternate infinite;
        opacity: 1;
    }

    .load:before {
        transform: translateX(-20px);
    }

    .load:after {
        transform: translateX(20px);
    }

    @-webkit-keyframes load {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(inherit);
        }
    }

    @keyframes load {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(inherit);
        }
    }
}

[data-gsap="reveal"] {
    opacity: 0;
}

.container {
    width: calc(100% - #{2 * $container-padding});
    max-width: $container-max-width;
    margin-inline: auto;
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);
}

.site-header {
    margin-bottom: var(--space-md);

}

main {
    margin-bottom: var(--space-md);
}
